# Ansible playbook은 한번씩만 실행하시고
# 이후 git에 올릴때는 git add . , git commit -m , git push 로 올리시면 됩니다.
# 실행 방법: ansible-playbook -i (hosts.ini 위치) (파일위치)
# AI -> CI/CD 확인 방법
# 1. music-project.git 폴더로 이동
# 2. git log main 으로 log 확인
# 3. git show main:result.txt로 내용 확인 가능
---

# 초기 작업: git 설치
- name: "0. Install Git package"
  ansible.builtin.dnf:
    name: git
    state: present

# Git 유저 정보 설정 (Commit을 해야죠)
# ansible_hostname을 통해 어느 서버에서 파일을 업로드 하는지 파악할 수 있다.
- name: "1. Configure Git User"
  ansible.builtin.shell: |
    git config --global user.name "{{ ansible_hostname }}"
    git config --global user.email "teammate@music.project"
    git config --global init.defaultBranch main     
  become: false 
# root권한이 아닌 ansible-admin으로 설정한 이유는 작업 시 ansible-admin으로 작업하는데 
# user.name이랑 email을 root의 config로 설정하면 ansible-admin으로 작업을 진행할려고 할 때 
# config 설정이 된 게 없어서 오류가 발생하기 때문

# 프로젝트 폴더로 이동 및 Git 초기화
# git 초기화 안되어 있다면 초기화
- name: "2. Initialize Git Repository"
  ansible.builtin.shell: |
    cd {{ project_dir }}
    if [ ! -d .git ]; then 
      git init
      git branch -M main
    fi

# ---------------------------------------------------------
# 2.5 범석님이 제안하신 핵심: 소유권 변경 (Root 권한으로 실행)
# ---------------------------------------------------------
- name: "2.5 Change ownership to ansible-admin"
  ansible.builtin.file:
    path: "{{ project_dir }}"
    owner: ansible-admin
    group: ansible-admin
    recurse: yes  # 하위 폴더(.git 포함)까지 싹 다 바꿉니다.
  become: true

# 초기 파일 추가 및 커밋
- name: "3. Add and Commit files"
  ansible.builtin.shell: |
    cd {{ project_dir }}
    git add .
    git commit -m "Initial commit by Ansible" || true

# 원격 저장소로 등록(30.0.1.11)
# 이미 등록되어 있다면 스킵
# 지금 여기서 무한 대기가 걸렸다!!!!!!!!
# 12/24 해결 했다 이거 관리자로 만들었는데 ansible-admin으로 접속해서 그럼
- name: "4. Add Remote and Push to Server"
  ansible.builtin.shell: |
    cd {{ project_dir }}
    # 1. 기존에 origin이 등록되어 있다면 삭제 (에러 방지용 || true)
    git remote remove origin || true
    
    # 2. 절대 경로로 git 저장소 위치 설정
    git remote add origin ansible-admin@{{ git_server_ip }}:{{ git_repo_path }}
    
    # 3. 보안 설정 무시 및 푸시
    export GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
    git push origin main
  become: false
